@using Sample.Core.GoogleReCaptcha.Web.Models
@using Microsoft.Extensions.Configuration
@using Sample.Core.GoogleReCaptcha.Web.Validation
@inject IConfiguration Configuration
@model Comment
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Sample comment page</title>
</head>
<body>
    @using (Html.BeginForm(method: FormMethod.Post, controllerName: "Comments", actionName: "Invisible", htmlAttributes: new { id = "comment-form" }))
    {
        <div>
            <label for="Title">Title</label>
            <input type="text" name="Title" id="Title" />
        </div>
        <div>
            <label for="Content">Content</label>
            <textarea type="text" name="Content" id="Content" rows="8" cols="20"></textarea>
        </div>
        <div>
            @Html.GoogleInvisibleReCaptcha("Submit form",Configuration.GetValue<String>("GoogleReCaptcha:ClientKey"), "submitForm")
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        }
    }

    <script type="text/javascript">
        function submitForm() {
            document.forms[0].submit();
        }
    </script>

</body>
</html>
